


@{
    ViewBag.Title = "Projeto Animais";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    body {
        background-image: url("/imagens/feliz.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    /*.row {
        position: absolute;
        top: 50%;*/ /* posiciona na metade da tela */
    /*margin-top: -25px;*/ /* e retrocede metade da altura */
    /*}*/
    /*}*/

    .btn-default {
        font-size: 20px;
        background-color: #000000eb;
        color: white;
    }

    .btn-primary {
        font-size: 20px;
        background-color: #000000eb;
        color: white;
        border-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .btn-primary:hover {
            /* text-decoration: underline;*/
            background: #ccc;
            color: #333;
        }
</style>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" align="center" top="50%">


    <div class="col">

        <a href="@Url.Action("DoacoesRealizadas","Relatorio")" class="btn btn-primary" style="width: 280px; height: 80px">Doações realizadas</a>


        @*<input type="button" value="Registrar um Animal" name="Create" class="btn btn-default" style="width: 300px; height: 80px" />*@
    </div>
    <br />
    <div class="w-100"></div>
    <div class="col">
        <a href="@Url.Action("AnimaisDisponiveis","Relatorio")" class="btn btn-primary" style="width: 280px; height: 80px">Animais Disponíveis</a>

    </div>
    <br />
    <div class="col">

        <a href="@Url.Action("AnimaisIndiponiveis","Relatorio")" class="btn btn-primary" style="width: 280px; height: 80px">Animais Indisponiveis</a>


        @*<input type="button" value="Registrar um Animal" name="Create" class="btn btn-default" style="width: 300px; height: 80px" />*@
    </div><br />
</div>
<div>
    @Html.ActionLink("Voltar", "IndexAdmin", "Home")
</div>
