@{
    ViewBag.Title = "Projeto Animais";
}

<style>
    body {
        background-image: url("/imagens/feliz.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>


<div class="row">
   ADMIN
</div>